.like{
    background-color: rgb(19,19,20);
    border-radius:7px 0 0 7px;
}
.name{
    font-size: 12px;
}
.post{
    border-radius:7px;
}
.img_copy{
    width: 600px;
    height: 600px;
    background-color: brown;
}
.aditional:hover{
    background-color: rgb(70,70,70);
}
.write-comment{
    width:90%;
}
.btn-comment{
    border-radius: 50px;
}
.image{
    position: relative;
    text-align: center;
}
.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: gray;
    display: none;
    font-size: 32px;
}
.image:hover .bottom-left{
    display:block;
}
textarea{
    border-radius: 5px;
    border: 2px solid rgb(52,53,54);
}
.delete:hover{
    color: red;
}