img{
    border-radius: 50px;
}
.main{
    border-radius:7px;
}
.group-name{
    width: 150px;
}
button{
    border-radius: 20px;
}
.no-wrap{
    white-space: nowrap;
}
.sticky{
    position: sticky;
    top: 65px;
}