<div class="default_bg default_border main mt-3 p-1 d-inline-flex flex-column" >
    <div class="text-center">
        <h5>Popular Groups</h5>
    </div>
    <div>
        <div *ngFor="let group of topGroups;let i=index" class="d-flex p-1">
            <p class="align-self-center mb-0 mx-1">{{i+1}}</p>      
            <img class="align-self-center mx-1" src="{{imagesUrl}}Images/{{group.imgUrl}}.jpg" width="30" height="30"  alt="">
            <p routerLink="/group/{{group.id}}" class="align-self-center mb-0 mx-1 group-name pointer">{{group.title}}</p>
            <button class="btn btn-secondary btn-sm align-self-center mx-1">Join</button>
        </div>
    </div>
    <div class="px-2 mt-2">
        <button routerLink="/group/search" [queryParams]="{order:2}" class="btn btn-secondary w-100 align-self-center mx-1">View All</button>
    </div>
    <div class="d-flex mt-2">
        <button routerLink="/group/search" [queryParams]="{tags:[1]}" class="btn btn-secondary btn-sm align-self-center mx-1">Sport</button>
        <button routerLink="/group/search" [queryParams]="{tags:[2]}" class="btn btn-secondary btn-sm align-self-center mx-1">News</button>
    </div>
    <div>
    </div>

</div>
<br>
<div class="default_bg default_border main mt-3 p-3 d-inline-flex flex-column">
    <div class="text-center">
        <h5>Your Groups</h5>
    </div>
    <div>
        <div *ngFor="let group of yourGroups" class="d-flex p-1">   
            <img class="align-self-center mx-1" src="{{imagesUrl}}Images/{{group.imgUrl}}.jpg" width="30" height="30"  alt="">
            <p class="align-self-center mb-0 mx-1 group-name pointer" routerLink="/group/{{group.id}}">{{group.title}}</p>
        </div>
    </div>
    <div class="px-2 mt-2">
        <button routerLink="/group/search" [queryParams]="{userId:'mine'}" class="btn btn-secondary w-100 align-self-center mx-1">View All</button>
    </div>
</div>
<br>
<div class="default_bg default_border main mt-3 p-3 d-inline-flex sticky">
    <button class="btn btn-secondary w-100 align-self-center no-wrap mx-1" routerLink="/post/create/">Create Post</button>
    <button class="btn btn-secondary w-100 align-self-center no-wrap mx-1" routerLink="/group/create">Create Group</button>
</div>