<div class="default_bg default_border d-inline-flex m-3 post">
    <div class="like p-1 px-2 text-center">
        <p class="mb-0 pointer" (click)="likePost()"><i class="fa fa-arrow-up" aria-hidden="true"></i></p>
        <p class="mb-0">{{post.likes}}</p>
        <p class="mb-0 pointer"(click)="disLikePost()"><i class="fa fa-arrow-down" aria-hidden="true"></i></p>
    </div>
    <div class="p-3 pb-0 pointer" >
        <div class="d-flex">
            <img class="groupImage align-self-center" src="{{imagesUrl}}Images/{{post.groupImgUrl}}.jpg"  width="30" height="30" alt="">
            <p class="name mx-1 align-self-center mb-0"><b routerLink="group/{{post.groupId}}" class="hover_underline">{{post.groupName}}</b> <span class="text-secondary"> posted by <span routerLink="/users/profile/{{post.senderId}}" class="hover_underline">{{post.senderUserName}}</span> on {{post.postedOn}}</span></p>
        </div>
        <div routerLink="/post/{{post.id}}">
            <p>{{post.title}}</p>
            <div class="w-100 image">
                <img src="{{imagesUrl}}Images/{{post.imgUrls[0]}}.jpg" class="img-fluid" alt="">
                <p class="bottom-left images-count">1/{{post.imgUrls.length}}</p>
            </div> 
        </div>
        <div class="d-flex text-secondary bottom">
            <div routerLink="/post/{{post.id}}" class="px-3 py-2 aditional" >
                <p class="mb-0"> <i class="fa fa-comment"></i>Comments</p>
            </div>
            <div routerLink="/post/{{post.id}}" class="px-3 py-2 aditional">
                <p class="mb-0"> <i class="fa fa-mail-reply"></i>Share</p>
            </div>
            <div routerLink="/images/create"[queryParams]="{image:post.imgUrls[0]}" class="px-3 py-2 aditional pointer">
                <p class="mb-0"> <i class="fa-solid fa-pen"></i>Open in editor</p>
            </div>
        </div>
    </div>
</div>