<div class="row container-fluid">
    <div class="col-lg"></div>
    <div class="col-lg-6 p-3">
        <div class="mt-3 default_bg default_border rounded d-flex">
            <p class="p-3 mb-0 mr-3 rounded pointer" [ngClass]="postsMode?'chosen':''" (click)="postsMode=true">Posts <i class="fa-solid fa-address-card"></i></p>
            <p class="p-3 mb-0 mr-3 rounded pointer" [ngClass]="postsMode?'':'chosen'" (click)="postsMode=false">Images <i class="fa-solid fa-image"></i></p>
        </div>
        <ng-container *ngIf="postsMode else imagesMode">
            <app-post *ngFor="let post of posts" [post]="post"></app-post>
        </ng-container>
        <ng-template #imagesMode>
            <app-user-images #images [imagesMaxCount]="10"></app-user-images>
            <div class="text-center">
                <div class="default_bg default_border rounded mt-3 d-inline-flex p-3 ">
                    <button class="btn btn-secondary me-3">Delete</button>
                    <button class="btn btn-secondary">Open</button>
                </div>
            </div>
            
        </ng-template>
    </div>
    <div class="col-lg">
        <div class="default_bg default_border p-3 mt-3 rounded d-inline-flex flex-column text-center">
            <img src="{{profile.imgUrl?imageApiUrl+'Images/'+profile.imgUrl+'.jpg':'./././assets/resources/Untitled.png'}}" width="300" height="300" alt="">
            <h3>{{profile.userName}}</h3>
            <div>
                <p>Posts Count:{{posts.length}}</p>
            </div>
            <h5>Description:</h5>
            <p>{{profile.description??"No description"}}</p>
            <button routerLink="/users/profile/edit" class="btn btn-secondary">Edit</button>
        </div>
        <div class="default_bg default_border main mt-3 p-3 d-inline-flex flex-column rounded">
            <div class="text-center">
                <h5>Your Groups</h5>
            </div>
            <div>
                <div *ngFor="let group of groups" class="d-flex p-1">   
                    <img class="align-self-center mx-1 icon" src="./././assets/resources/Untitled.png" width="30" height="30"  alt="">
                    <p routerLink="/group/{{group.id}}" class="align-self-center mb-0 mx-1 group-name pointer">{{group.title}}</p>
                </div>
            </div>
            <div class="px-2 mt-2">
                <button class="btn btn-secondary w-100 align-self-center mx-1">View All</button>
            </div>
        </div>
    </div>
</div>