<div class="container-fluid default_bg pt-3">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 d-flex justify-content-between">
            <div>
                <div class="d-flex ">
                    <img src="../../../assets/resources/Untitled.png" height="80" width="80" class="img-fluid profile-pic" alt="">
                    <h1 class="align-self-center mb-0 ms-2 me-3">{{group.title}}</h1>
                    <button *ngIf="group.role==0;else leaveButton" (click)="join()" class="btn btn-secondary align-self-center no-wrap join">Join</button>
                    <ng-template #leaveButton>
                        <button class="btn btn-secondary align-self-center no-wrap join" (click)="leave()">Leave</button>
                    </ng-template>
                </div>
                <div class="d-flex">
                    <p class="mx-2 mb-0 align-self-end">Posts</p>
                    <p class="mx-2 mb-0 align-self-end">Info</p>
                    
                </div>
            </div>
            <div>
                <div class="align-self-center">
                    <h5>Tags</h5>
                    <button class="btn btn-secondary mx-2">{{group.groupType==0?"Public":group.groupType==1?"Restricted":"Private"}}</button>
                    <button class="btn btn-secondary mx-2" *ngFor="let tag of group.tags">{{tag}}</button>
                </div>
            </div>
            
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<div class="row container-fluid">
    <div class="col sidebar"></div>
    <div class="col-6 main">
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>
    <div class="col sidebar">
        <div class="default_bg default_border main mt-3 p-1 d-inline-flex flex-column" >
            <div class="text-center">
                <h5 class="mb-0">Group Info</h5>
            </div>
            <hr class="mb-0 mt-0">
            <p>
                {{group.moreInfo}}
            </p>
            <div class="d-flex">
                <p class="mx-3">Users:{{group.users}}</p>
                <p class="mx-3">Adimns:21</p>
            </div>
            
        </div>
        <br>
        <div class="default_bg default_border main mt-3 p-1 d-inline-flex flex-column" >
            <div class="text-center">
                <h5 class="mb-0">Admins</h5>
            </div>
            <hr class="mb-0 mt-0">
            <div>
                <div *ngFor="let group of [1,2,3,4,5]" class="d-flex p-1">
                    <p class="align-self-center mb-0 mx-1 group-name">User nameaaa</p>
                </div>
            </div>
            <div class="px-2 mt-2">
                <button class="btn btn-secondary w-100 align-self-center mx-1">View All</button>
            </div>
        </div>
        <div class="default_bg default_border main mt-3 p-3 d-inline-flex sticky">
            <button class="btn btn-secondary w-100 align-self-center no-wrap mx-1" routerLink="/group/create/post">Create Post</button>
            <button class="btn btn-secondary w-100 align-self-center no-wrap mx-1" routerLink="/group/create">Create Group</button>
        </div>
    </div>
</div>
   