<div class="countainer main mt-3 text-center default_bg">
    <div class="d-flex flex-wrap justify-content-center">
        <div *ngFor="let img of data; index as i" class="m-2 text-center">
            <img src="{{imagesUrl}}Images/{{img.imgUrl}}.jpg" data-bs-toggle="modal" class="{{img.isSelected?'selected':''}}" data-bs-target="#Modal" width="200" height="200"  alt="" (click)="selectImage(i)">
            <p>{{img.name}}</p>
        </div>
    </div>
    <button *ngIf="data.length%20==0" type="button" class="btn btn-secondary" (click)="loadMore()">Load More</button>
</div>
    
<div class="modal  fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content default_bg">
        <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Image Name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex justify-content-center w-100">
                <img [src]="imagesUrl+'Images/'+ selectedImage?.imgUrl+'.jpg'" alt="">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"(click)="selectForPost()">{{selectedImage?.isSelected ? "Dismis":"Select"}}</button>
        </div>
        </div>
    </div>
</div>