<nav class="navbar navbar-expand-lg navbar-light default_bg default_border">
    <div class="container-fluid">
      <a class="navbar-brand text-light" routerLink="/">Drawings</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <input type="text" placeholder="SearchGroup">
        <a class="btn btn-secodary text-light" routerLink="/images/create">Create Image</a>
        <a class="btn btn-secodary text-light" routerLink="/group/create">Create Group</a>
        <a class="btn btn-secodary text-light" *ngIf="!isLogedIn()" routerLink="/identity/register">Register</a>
        <a class="btn btn-secodary text-light" *ngIf="!isLogedIn()" routerLink="/identity/login">Login</a>
        <a class="btn btn-secodary text-light" (click)="logOut()" *ngIf="isLogedIn()" >LogOut</a>

      </div>
    </div>
  </nav>