<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h5 class="mb-0">Create a Group</h5>
            <hr class="mt-0">
            <div class="default_bg default_border d-flex flex-column p-2 main">
                <input type="text" placeholder="Title" class="mt-3 default_bg">
                <textarea class="mt-3 default_bg" name="" id="" cols="30" rows="7" placeholder="Text"></textarea>
                <p class="mb-0"><b>Tags</b></p>
                <hr class="mt-0">
                <div class="d-flex">
                    <button class="btn btn-outline-secondary mx-2">TagName1</button>
                    <button class="btn btn-outline-secondary mx-2">TagName2</button>
                    <button class="btn btn-outline-secondary mx-2">TagName3</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
