<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h5 class="mb-0">Create a Group</h5>
            <hr class="mt-0">
            <div class="default_bg default_border d-flex flex-column p-2 main">
                <input type="text" placeholder="Title" class="mt-3 default_bg">
                <textarea class="mt-3 default_bg" name="" id="" cols="30" rows="7" placeholder="Text"></textarea>
                <p class="mb-0"><b>Tags</b></p>
                <hr class="mt-0">
                <div class="d-flex">
                    <button class="btn btn-outline-secondary mx-2" data-bs-toggle="button" onclick="this.blur()" >TagName1</button>
                    <button class="btn btn-outline-secondary mx-2" data-bs-toggle="button" onclick="this.blur()" >TagName2</button>
                    <button class="btn btn-outline-secondary mx-2" data-bs-toggle="button" onclick="this.blur()">TagName3</button>

                    <button class="btn btn-outline-secondary mx-2 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        +
                    </button>
                    <ul class="dropdown-menu default_bg default_border" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item text-light" href="#" data-bs-toggle="modal" data-bs-target="#CreateTagModal">Create</a></li>
                        <li><a class="dropdown-item text-light" href="#">TagName4</a></li>
                        <li><a class="dropdown-item text-light" href="#">TagName5</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<div class="modal fade" id="CreateTagModal" tabindex="-1" aria-labelledby="#CreateTagModal" aria-hidden="true">
    <app-create-tag></app-create-tag>
</div>
