<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form  [formGroup]="createGroupForm"  (ngSubmit)="createGroup()">
                <h5 class="mb-0">Create a Group</h5>
                <hr class="mt-0">
                <div class="default_bg default_border d-flex flex-column p-2 main">
                    <input formControlName="title" type="text" placeholder="Title" class="mt-3 default_bg text-light">
                    <div class="alert alert-danger p-2 mt-2" *ngIf="title?.touched && title?.errors?.['required']" >
                        Required
                    </div>
                    <textarea formControlName="moreInfo" class="mt-3 default_bg text-light" name="" id="" cols="30" rows="7" placeholder="More Info"></textarea>
                    <p class="mb-0"><b>Group Type</b></p>
                    <div>
                        <input type="radio" id="public" checked name="type" (click)="groupType=1" value="Public">
                        <label for="public">Public</label><br>
                        <input type="radio" id="restricted" name="type"(click)="groupType=2" value="Restricted">
                        <label for="restricted">Restricted</label><br>
                        <input type="radio" id="private" name="type"(click)="groupType=3" value="Private">
                        <label for="private">Private</label>
                    </div>
                    <p class="mb-0"><b>Tags</b></p>
                    <hr class="mt-0">
                    <div class="d-flex">
                        <button *ngFor="let tag of selectedTags;let i =index;"  class="btn btn-outline-danger text-light mx-2 tag" data-bs-toggle="button" (click)="selectTag(tag)"  >{{tag.tagName}}</button>
                        
                        <button class="btn btn-outline-secondary mx-2 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            +
                        </button>
                        <ul class="dropdown-menu default_bg default_border" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item text-light pointer" data-bs-toggle="modal" data-bs-target="#CreateTagModal">Create</a></li>
                            <li *ngFor="let tag of tags; let i =index"><a (click)="selectTag(tag)" class="dropdown-item text-light pointer">{{tag.tagName}}</a></li>
                        </ul>
                    </div>
                    <div class="d-flex flex-row-reverse p-3">
                        <button [disabled]="!createGroupForm.valid" type="submit" class="btn btn-secondary" >Create Group</button>
                    </div>
                </div>
            </form>
            
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<div class="modal fade" id="CreateTagModal" tabindex="-1" aria-labelledby="#CreateTagModal" aria-hidden="true">
    <app-create-tag></app-create-tag>
</div>
